html {
  font-family: "Gill Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  width: 70vw;
  min-height: 80vh;
  margin-left: 20vw;
  margin-top: 60px;
  color: #333;
  background-color: #fff; 
  border-radius: 15px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  overflow-y: auto;  
  flex: 1 0 auto;
}

.content > img {
  max-width: 500px; /* Убедитесь, что изображение не выходит за пределы блока */
  height: auto; /* Сохраните пропорции изображения */
  display: block; /* Уберите пробелы вокруг изображения */
  margin: 0 auto; /* Выровняйте изображение по центру */
  border-radius: 10px; /* Добавьте скругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* Добавьте тень для глубины */
}


.content h1 {
  color: #444;
  font-size: 2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.content h2 {
  color: #666;
  font-size: 1.5em;
  margin-top: 20px;
}

.content ul, .content ol {
  padding-left: 20px;
}

.content li {
  line-height: 1.6;
}

.content ol {
  list-style-type: decimal;
}

.content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content form input[type="submit"] {
  width: fit-content;
  padding: 10px 20px;
  background-color: #ff7b00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content form input[type="submit"]:hover {
  background-color: #b65e0d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width <= 800px) {
  .header-search{
    display: none;
  }

  .header-menu > .span{
    display: none;
  }

  .header-menu > span{
    display: none;
  }

  .content{
    width: 100vw;
    margin-left: 0vw;
    margin-top: 0px;
  }

  .menubtn > button{
    margin-top: 0px;
    position: absolute;
    top: 33px;
    left: 17px;
  }

  .header-left {
    margin-left: 150px;
  }
}
